/*
 * ─── BASE ───────────────────────────────────────────────────────────────────────
 */

* {
	box-sizing: border-box;
}
.none {
	display: none !important;
}
body {
	margin: 0;
	font-family: 'Gilroy', serif;
	background-color: #0b1d26;
	background-image: url('./../img/background/bg.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;

	color: white;
}

.container-wide {
	margin: 0 auto;
	width: 1790px;
	padding: 0 15px;
}
.container {
	max-width: 1492px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
/*
 * ─── HEADER ─────────────────────────────────────────────────────────────────────
 */

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	padding-top: 64px;
}
.logo {
	font-family: 'ChronicleDisplay', serif;
	font-weight: 700;
	font-size: 32px;
}
.logo a {
	text-decoration: none;
	color: white;
}

.nav {
	font-weight: 700;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.nav li + li {
	margin-left: 40px;
}

.nav a {
	font-size: 18px;
	position: relative;
	color: white;
	text-decoration: none;
}

.nav a:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 0.5px;
	left: 0;
	bottom: -8px;
	background-color: white;
	opacity: 0;
	transition: opacity 0.2s ease-in, bottom 0.2s ease-in,
		background-color 0.2s cubic-bezier(0.025, 1, 0.165, 1);
}
.nav a:hover {
	color: #fbd784;
}
.nav a:hover::after {
	bottom: -2px;
	opacity: 1;
	background-color: #fbd784;
}
.account {
	display: flex;
	align-items: center;
}

.account a {
	position: relative;
	font-size: 17px;
	font-weight: 700;
	text-decoration: none;
	color: white;
	margin-left: 8px;
	transition: color 0.2s ease-in;
}
.account a:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 0.5px;
	left: 0;
	bottom: -8px;
	background-color: white;
	opacity: 0;
	transition: opacity 0.2s ease-in, bottom 0.2s ease-in,
		background-color 0.2s cubic-bezier(0.025, 1, 0.165, 1);
}
.account a:hover {
	color: #fbd784;
}
.account a:hover::after {
	bottom: -2px;
	opacity: 1;
	background-color: #fbd784;
}

/*
 * ─── HERO ───────────────────────────────────────────────────────────────────────
 */
.hero-wrapper {
	padding: 198px 15px 0;
}
.hero {
	display: block;
	max-width: 980px;

	margin: 0 auto;
	color: white;
	font-weight: 500;
	font-size: 18px;
	text-decoration: none;
	transition: transform 0.6s cubic-bezier(0.9, 0.285, 0.41, 2);
}
.hero:hover {
	transform: translateY(-5%);
}
.hero-category {
	position: relative;
	font-weight: 800;
	line-height: 1.222;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #fbd784;
	padding-left: 104px;
}

.hero-category::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	display: block;
	content: '';
	width: 72px;
	height: 2px;
	background-color: #fbd784;
}
.hero-title {
	font-family: 'ChronicleDisplay', serif;
	font-weight: 600;
	font-size: 88px;
	line-height: 1.136;
	text-transform: capitalize;
	margin-top: 32px;
	margin-bottom: 0;
}

.hero-scroll {
	display: inline-block;
	position: relative;
	font-weight: 700;
	line-height: 1.222;
	margin-top: 32px;
	padding-right: 16px;
}
.hero-scroll::after {
	display: block;
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	background-image: url('./../img/icon/arrow-down.svg');
	transform: translateY(-50%);
	width: 16px;
	height: 24px;
}

/*
 * ─── MAIN ───────────────────────────────────────────────────────────────────────
 */

main {
	/* работает схлопывание отступов */
	margin-top: 843px;
}

/*
 * ─── ARTICLE ────────────────────────────────────────────────────────────────────
 */

.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article + .article {
	margin-top: 200px;
}

.article:nth-child(even) {
	flex-direction: row-reverse;
}

.article-text {
	position: relative;
	/* padding-top: 141px; */
	padding-left: 150px;
	max-width: 782px;
}
.article-text::before {
	content: attr(data-number);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-103px);
	max-width: 240px;
	max-height: 240px;
	font-weight: 700;
	font-size: 240px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.1);
}

.article-subtitle {
	position: relative;
	font-weight: 800;
	line-height: 1.222;
	font-size: 18px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #fbd784;
	padding-left: 96px;
	margin-bottom: 27px;
}

.article-subtitle::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	display: block;
	content: '';
	width: 72px;
	height: 2px;
	background-color: #fbd784;
}
.article-title {
	font-family: 'ChronicleDisplay', serif;
	font-weight: 600;
	font-size: 64px;
	line-height: 1.2;
	margin-bottom: 27px;
	padding-right: 78px;
}

.article p {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.777;
}

.article-more {
	display: inline-block;
	position: relative;

	font-weight: 700;
	line-height: 1.222;
	padding-right: 16px;
	color: #fbd784;
}
.article-more::after {
	display: block;
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	background-image: url('./../img/icon/arrow-right.svg');
	transform: translateY(-50%);
	width: 24px;
	height: 16px;
}

.article-img {
	display: block;
}

/*
 * ─── FOOTHER ────────────────────────────────────────────────────────────────────
 */

.footer {
	margin-top: 200px;
	margin-bottom: 120px;
}
.footer-row {
	display: flex;
	justify-content: space-between;
}
.footer-copyright {
	display: flex;
	flex-direction: column;
}
.footer-copyright-logo {
	margin-bottom: 24px;
}

.footer-copyright-desc {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.777;

	max-width: 303px;
}
.footer-copyright-text {
	margin-top: auto;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.777;
	color: rgba(255, 255, 255, 0.5);
}
.footer-nav-wrapper {
	display: flex;
}
.footer-nav {
	max-width: 200px;
}
.footer-nav + .footer-nav {
	margin-left: 212px;
}
.footer-nav-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.333;
	color: #fbd784;
	margin-bottom: 24px;
}
.footer-nav li + li {
	margin-top: 16px;
}
.footer-nav a {
	position: relative;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.777;
}
.footer-nav a::after {
	position: absolute;
	left: 0;
	bottom: -10px;
	display: block;
	content: '';
	width: 100%;
	height: 0.5px;
	background-color: white;
	opacity: 0;
	transition: all 0.2s ease-in;
}
.footer-nav a:hover::after {
	bottom: -2px;
	opacity: 1;
}
