/* .header, */
/* .hero-wrapper, */
.main,
.footer {
	display: none;
}

@media (max-width: 1200px) {
	/*
	 * ─── HERO ───────────────────────────────────────────────────────────────────────
	 */

	.hero-title {
		font-size: 68px;
	}
}
@media (max-width: 800px) {
	/*
	 * ─── NAVIGATION BUTTON ──────────────────────────────────────────────────────────
	 */

	.nav,
	.account {
		display: none;
	}
	.nav-button {
		display: block;
	}
	/* JS */
	.mobile-nav-active {
		display: flex;
	}

	/*
	 * ─── HERO ───────────────────────────────────────────────────────────────────────
	 */

	.hero-wrapper {
		padding-top: 84px;
	}
	.hero-title {
		font-size: 58px;
	}
}
@media (max-width: 520px) {
	/*
	 * ─── HERO ───────────────────────────────────────────────────────────────────────
	 */

	.hero-wrapper {
		padding-top: 54px;
	}
	.hero-category {
		font-size: 12px;
		padding-left: 68px;
	}
	.hero-category::before {
		width: 36px;
	}
	.hero-title {
		margin-top: 20px;
		font-size: 38px;
	}
	.hero-scroll {
		margin-top: 20px;
	}
}

@media (max-width: 320px) {
}
